.footer-bar
  text-align: center
  .up-bar
    height: 20px
    background-color: #cebd6f
    margin-bottom: 15px
  .img
    display: flex
    align-items: center
    img
      height: 50px
      margin-right: 10px
    > div
      font-size: 26px
  .tel
    font-weight: 700
    margin-bottom: 10px
  .img,
  .location
    font-weight: 700
    margin-bottom: 10px
    display: flex
    justify-content: center
    > a
      color: black
      text-decoration: none
      margin-right: 5px
    .icon
      font-size: 24px
      color: red
      line-height: 1px
  .copy-right
    margin-bottom: 10px
