.image-text
  display: flex
  .image
    cursor: pointer
    img
      width: 100%
  .text-content
    .date
      font-size: 12px
      color: gray
    .title
      font-size: 20px
      font-weight: 700
      margin: 10px 0
      cursor: pointer
    &-detail
      overflow: hidden
      text-overflow: ellipsis
      width: 100%
