.about-page
  .content
    padding: 40px 10%
    .sub-title
      margin-bottom: 20px
      font-size: 21px
      font-weight: 700
      color: red
    .description
      margin-bottom: 10px
    .image
      display: flex
      align-items: center
      img
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
    
