.home-page
  .intro
    padding: 40px 10% 0
    font-size: 26px
    font-weight: 700
  .description
    padding: 40px 10%
    .col-lg-3
      border: 0
      width: 100%
      .card
        border-radius: 1.25rem
        text-align: center
        .h5
          font-size: 2.7rem
        .card-text
          font-size: 1.1rem
          font-weight: 700
        &:hover
          opacity: 0.85
  .service-lists
    padding: 40px 10px 60px
    background-color: #ece7df
    h2
      color: #d58516
      margin-bottom: 20px
    .col-lg-4
      padding: 5px 15px
      > div
        padding: 8px 16px
        text-align: center
        color: #d58516
        border: 1px solid #d58516
        font-size: 20px
        font-weight: 700
        cursor: pointer
        border-radius: 5px
        &:hover
          color: white
          background-color: #d58516
  .news
    padding: 40px 10%
    .col-lg-8
      padding: 20px 40px
    img
      width: 100%
      cursor: pointer
      margin-bottom: 20px
    h3
      color: #d58516
      margin-bottom: 15px
    li
      cursor: pointer
      margin-bottom: 5px
      text-decoration: underline
    .more-button
      text-align: end
  .contact-us
    img
      min-width: 225px
      width: 20vw
      margin-bottom: 5px
    .col-lg-3
      padding: 30px 0
      text-align: center
      font-size: 20px
      font-weight: 700
      background-color: white
      opacity: 0.9
      .tel
        cursor: pointer
        color: red
        + .tel
          margin-bottom: 10px
      .line-id
        color: green
        margin-bottom: 15px
    a
      margin-right: 5px
      img
        min-width: 50px
        width: 50px