.count-page
  .react-calendar
    width: 100%
  .basic-input
    padding: 40px 0 20px 5%
    font-size: 20px
    .ant-input-number
      border-radius: 5px
      margin: 5px 0
      font-size: 20px
      width: 200px
    p
      margin-top: 20px
      font-size: 20px
      color: grey
  .notice
    text-align: center
    font-size: 20px
    padding: 20px
    color: red
  